.jumbotron.home{
    height: 100vh;
    background-color: #ffffff;
    border-radius: 0px;
}

.navbar-brand img{
    height: 100px;
}

.h1{
    ffont-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    font-weight: bold;
}


.h1.hero-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    line-height: 7rem;
    color: black;
    font-weight: bold;
    letter-spacing: .5rem;
}

.h1.hero-text .outline{
    color: transparent;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem !important;
    letter-spacing: .66rem !important;
}

.red {
    color:#dd3333 !important;
}

.btn-primary{
    background-color: #dd3333 !important;
    border-radius: 0px !important;
    border: 0px !important;
    color: white !important; 
}